{% extends 'admin/base.html'%}

{% block content %}
{% load static %}

<canvas id="myChart" class=" d-flex justify-content-center" width="100%" height="50%" ></canvas>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
<script type="text/javascript">
    $.get('{% url "line_chart_json" %}', function(data) {
        var ctx = $("#myChart").get(0).getContext("2d");
        new Chart(ctx, {
            type: 'line', data: data
        });
    });
</script>


{% endblock %}