{% extends 'admin/base.html' %}
{% block content %}
<h3 class="lead">Pending Requests</h3>

<div class="container">
    <table id="example" class="table table-hover  ">
    <thead>
        <tr style=" background-color:#3498DB" >
            <th>Serial no.</th>
            <th>Company name</th>
            <th>Company email</th>
            <th>Logo</th>
            <th>Website</th>
            <th>Status</th>
            <th>Action</th>


        </tr>
        </thead>    
        
        <tbody>
            {% for i in recruiter %}
            <tr style="background-color:#D6DBDF">
                <td>{{forloop.counter}}</td>
                <td>{{i.company_name}}</td>
                <td>{{i.email}}</td>
                <td><img src="{{i.logo}}"></td>
                <td>{{i.website}}</td>
                <td><a class="btn btn-warning btn-sm" href="{% url 'change_status' i.id %}">{{i.status}}</a></td>
                <td><a class="btn btn-warning btn-sm" href="{% url 'delete_recruiter' i.id %}" onclick="return confirm('Are you sure?')">Delete</a></td>

            </tr>
            {%endfor%} 
    </table>
</div>


{%endblock%}